name: Build and Test

on:
  workflow_dispatch:
  push:
    branches:
      - dev
      - main
  pull_request:
    branches:
      - dev
      - main

jobs:
  build:

    # Unfortunately, GitHub silently ignores, if we set it to macos-10.14,
    # which is what we actually want. :-/
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 9
        uses: actions/setup-java@v1
        with:
          java-version: 9
          architecture: x64

      - name: Build/test code with Maven
        run: mvn -B install --file pom.xml
      - run: mkdir staging && cp target/*.jar staging
      - uses: actions/upload-artifact@v2
        with:
          name: Package
          path: staging
